<style>

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
</style>

<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
      <div class="row  justif-content-center">
    
        <div class=" col-md-6  col-sm-9 col-lg-6  mb-6 mb-md-0">
            <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5">
                <form action="/register" method="POST" class="form-horizontal well">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <% if (errors.emailExist) { %>
                      <script>
    document.addEventListener('DOMContentLoaded', function() {
        const successMessage = "<%= errors.emailExist %>"; // Access the variable passed from the server

        if (successMessage && successMessage !== 'null') { // Check for truthy value and not string 'null'
            Swal.fire({
                title: 'Erreur!',
                text: successMessage,
                icon: 'warning',
                timer: 7000,
                confirmButtonText: 'OK'
            });
        }
    });
</script>
                    <% } %> 

                    <h1 class="mb-3 h3 text-center ">Inscription</h1><br />  <br /> 
                        <label class="form-label col-md-4 pull-left " for="form3Example2">Nom</label>
                        <div class="form-group col-md-8">
                        <input type="text" name="name" id="form3Example2" required="require" class="form-control" placeholder="Nom" /></div>
                  </div>    
    
                  <!-- Email input -->
                  <div class="row mt-4 ">
                    <label class="form-label col-md-4 pull-left" for="form3Example3">Email address</label>
                    <div class="form-group col-md-8">  <input type="email" required="require" name="email" id="form3Example3" class="form-control" placeholder="Email" />
                    </div> 
                  </div> 
    
                  <!-- Password input -->
                  <div class="row mt-4 ">
                    <label class="form-label col-md-4 pull-left" for="form3Example4">Mot de passe</label>
                    <div class="form-group col-md-8">   <input type="password" required="require" name="password" id="form3Example4" class="form-control" placeholder=" Password" />
                    </div> 
                  </div>
                  
                  <!-- Password repeat -->
                  <div class="row mt-4 ">
                    <label class="form-label col-md-4 pull-left" for="password2">Confirmer le password</label>
                    <div class="form-group col-md-8">   <input type="password" required="require" name="password2" id="password2" class="form-control" placeholder=" Confirmer le mot de passe" />
                    </div> 
                  </div>
                  <div class="text-center">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4 mt-4 ">
                      S'inscrire
                  </button>
    
                  <!-- Register buttons -->
                
                    <p>J'ai déjà un compte <a href="/login">Connexion</a></p>
                  
                  </div>
                </form>
            </div>    </div>
         
            <div class="text-center"> <a href="/" class="btn btn-primary btn-block mb-4 mt-4 ">Explore Note.</a>  </div>
            </div>
 
        
        </div>
      </div>
    
    </main>
    </div>